*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.hero{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(login5.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form-box{
	width: 380px;
	height: 520px;
	position: relative;
	margin: 4% auto;
    background: linear-gradient(to right,#d6e5fa,#deecff,#e7eaf6);
	padding: 5px;
    box-shadow: 0px 0px 10px 0px rgba(38,57,135,0.75);
}

.loginform-title{
    font-size: 28px;
    background: linear-gradient(to right,#4f81c7,#64c4ed);
    -webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
}
.input-group{
	top:80px;
	position: absolute;
	width: 280px;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 10px auto;
	background: linear-gradient(to right,#4f81c7,#64c4ed);
	border: 0;
	outline: none;
	border-radius: 30px;
}
#login{
    left: 50px
}
